@import 'variables.scss';

@mixin Link {
    text-decoration :none;
    font-size:clamp(0.5rem, 1.2vw, 1.2rem);
    color:$link-color;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover{
        color:$secondary-color;
    } 

    &:active{
        color:$secondary-color;   
    }
}
@mixin Container{
    height:$navbar-height;
    width: $navbar-width;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: $primary-color;
    border: $picture-border;
}

@mixin Flex-display($direction){
    display: flex;
    flex-direction: $direction;
}
@mixin Size($width,$height){
    width: $width;
    height: $height;
}
@mixin pages {
    width: 80%;
    min-height: 100vh;
    align-self: center;
    margin: auto;
    @include Flex-display(column);
    align-items: center;
}
