@import 'variables.scss';

@mixin link {
    text-decoration :none;
    font-size:clamp(1rem, 2.5vw, 2rem);
    color:$link-color;

    &:hover{
        color:$secondary-color;
    } 
}
@mixin flex-display($flex-direction){
    display:flex;
    flex-direction: $flex-direction;
    align-items: center;
    justify-content: center;
}
