$primary-color:#b9d9eb;
$secondary-color:rgb(20, 20, 156);
$tertiary-color:#f0f8ff;
$quaternary-color: white;
$link-color: rgb(24, 23, 23);

//font sizes 
$small:7px;
$medium:10px;
$large:15px;
$X-large:20px;


//border
$picture-border :5px solid white;
$story-border:3px dashed rgb(20, 20, 156);

//component-sizes
$post-height:80vh;
$navbar-height:100vh;
$navbar-width:20%;










