$primary-color:#b9d9eb;
$secondary-color:rgb(20, 20, 156);
$tertiary-color:#f0f8ff;
$quaternary-color: rgb(236, 225, 225);
$link-color: rgb(24, 23, 23);

//font sizes 
$small:15px;
$medium:20px;
$large:30px;


//border
$picture-border :3px solid white;
$picture-border-radius: 10px;
$story-border:3px dashed rgb(20, 20, 156);








