@import 'variables.scss';
@import 'mixins.scss';

.activity-container{
    margin-top: 10px;
    background: linear-gradient(to right,white,$primary-color);
    width: 100%;
    height: 25%;
    border-radius: 20px;
    @include Flex-display(column);
    align-items: center;
    justify-content: space-around; 
    border: 1px solid white;
    .act1{
        margin-top: 15%;
        @include Flex-display(row);
       .img{
            @include Size(50px,50px);
            background-color: antiquewhite;
       } 
       .post{
            @include Flex-display(column);
            margin-left: 5px;
            align-items: center;
            justify-content: space-around;
            height: 70%;
            .text1{
                margin-top: 10px;
                font-size: 15px;
                font-weight: 500;
            }
            .text2{
                font-size: 13px;
                align-self: flex-start;
            }
       }
    }
    .act2{
        @include Flex-display(column);
        font-size: $medium;
        width: 100%;
        align-items: center;
        
        .texts{
            @include Flex-display(row);
            justify-content: space-between;
            width: 80%;
        }
        .bar{
            width: 80%;
            height: 8px;
            display: flex;
            border-radius: 5px;
            background-color: white;
            .progress{
                width: 80%;
                background-color: yellow;
                border-radius: 5px;
            }
        }
    }
    .act3{
        @include Flex-display(row);
        font-size: $medium;
        width: 80%;
        align-items: center;
        justify-content: space-between;
        
        .comments{
            font-size: $medium;
        }
        .time{
            background-color: $secondary-color;
            border-radius: 20px;
            padding: 5px 10px;
            color: white;
        }
    }
}