@import 'variables.scss';
@import 'mixins.scss';


.dashboard-container{
    @include Container;
    right: 0;
    top: 0;
    border-bottom-left-radius: 50px;
    align-items: center;
    border-left: none;
    
    .profile-board{
        width: 50%;
        height:15%;
        align-items: center;
        display: flex;
        justify-content: space-around;
        .prof-img{
            width: 50px;
            height: 50px;
            border-radius: 25px;
            background-color: antiquewhite;
        }
    }
    .popular-activities{
        height: 85%;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            align-self: flex-start;
            font-size: $X-large;
            color: $secondary-color;
        }
    }
}
