@import 'variables.scss';
@import 'mixins.scss';

.nav-container{
    @include Container;
    border-top-right-radius: 50px;
    left: 0;
    border-right: none;
    align-items: center;

    .logo {
        display: flex;
        align-items: center;
        height:15%;
    
        .logo-icon {
            width: 30px;
            height: 30px;
            border:2px solid $quaternary-color;
            border-radius: 20px;
            box-shadow: 3px 3px 3px 3px $tertiary-color;
            font-size: $X-large;
            color: $secondary-color;
            font-family: cursive;
            background-color: $quaternary-color;
            text-align: center;
            text-justify: center;
            font-weight:700 ;
            background-color: antiquewhite;
        }
    
        .logo-heading {
            font-family: cursive;
            margin-left: 10px;
            font-size: $X-large;
        }
    
        .praco {
            color: $secondary-color;
            font-weight: bold;
        }
    
        .gram {
            color: #89CFF0;
            font-weight: lighter;
        }
    }
    .account-nav {
        height: 50%;
        width: 80% ;
        display: flex;
        flex-direction: column;
        align-items: center;
        .account{
             font-weight: 700;
             font-size: 20px;
             align-self: flex-start    
        }
        .navitem {
            @extend .logo;
            flex-direction: column;
            margin-top: 0;
        }

    }
    
}

